node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.hprof
# macOS
.DS_Store
# android
android/app/debug.keystore
android/.idea/*
android/.gradle/*
android/app/build/